.ProjectDisplay> img {
  width : 350px ;
  height: 179px ;
}
  
.ProjectDisplay {
    margin:17px;
    width:350px;
    height: 179px;
    transition: transform 100ms ease-in;
}

.ProjectDisplay:hover {
  color: black;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(1.05);
}

.ProjectDisplay__Yes{
    padding: 10px;
}

.ProjectDisplay__Yes > h4 {
     padding-bottom: 5px;
}

.ProjectDisplay__Yes > p {
  font-size: 15px;
}

.Anchor__Style > a {
    text-decoration: none;
}
