@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.ProjectContainer {
    display: flex;
    flex-direction: column;
    color: white;
    justify-self: center;
    margin:200px 0;
    align-items: center;
    flex-wrap: wrap;
}

.ProjectContainer > h2 {
    font-size: 35px;
    padding-bottom: 10px;
}

.ProjectContainer > p {
    font-size: 20px;
}

.ProjectContainer__arrange{
    display:flex;
    width:50vw;
    margin-top:50px;
    flex-wrap: wrap;
}

